<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Mr.Daebak Dinner</title>
  <!--<link rel="icon" href="{% static 'images/restaurant.png' %}">-->

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- style -->
  <link href="{% static 'css/style.css' %}?after" rel="stylesheet" />
</head>

<body class="sub_page">
  <!-- start header section  -->
  <div class="main_area">
    <div class="brand_box">
      <a class="brand" href="{% url 'cm' %}">
        <span>
          Mr.Daebak DINNER
        </span>
      </a>
    </div>
  </div>
  <!-- end header section -->

  <!-- start bar section 

  <section class="bar_section">
    <div class="container">
      <div class="bar">
        <nav class="navbar navbar-expand bar_box">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex  flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="item">
                  <a class="nav-link" href="{% url 'dfp' %}">디너 종류 </a>
                </li>
                <li class="item">
                  <a class="nav-link" href="{% url 'dsp' %}">디너 스타일 </a>
                </li>
                <li class="item">
                  <a class="nav-link" href="{% url 'ap' %}">추가 사항 </a>
                </li>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>

   end bar section -->

  <!-- start progress section -->

  <section class="progress_section layout_padding">    
    <div class="container">
      <h4>진행상태</h4>
      <div>
        <progress id="progress" value="75" max="100"></progress>
      </div>
    <div>
    <br><br><br>
    <h2>{{user_name}}님, 안녕하세요.</h2>
  </section>
  
  <!-- end progress section -->

  <!-- start add section -->

  <section class="add_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          추가 옵션
        </h2>
      </div>
    </div>

    <div class="container-fluid">
      <h3 align="center"><br>디너 스타일</h3>
      <div class="add_container">
        <div class="box">
          <img src="{% static 'images/box.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              상자 접시
            </h5>
            <p>
              0 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="box">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="boxadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/pottery.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              도자기 접시
            </h5>
            <p>
              3,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="pot">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="potadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/cup.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              컵
            </h5>
            <p>
              2,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="cup">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="cupadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/valplate.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              발렌타인 접시
            </h5>
            <p>
              3,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="val">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="valadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/plastic.png' %}" alt="">
          <div class="link_box">
            <h5>
              플라스틱 잔
            </h5>
            <p>
              1,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="pla">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="plaadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container-fluid">
      <h3 align="center">디너 종류</h3>
      <div class="add_container">
        <div class="box">
          <img src="{% static 'images/steak.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              스테이크
            </h5>
            <p>
              38,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="steak">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="steakadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="steak">
              <input type="hidden" name="mode" value="del">
              <input type="number" name="steakdel" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "삭제">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/salad.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              샐러드
            </h5>
            <p>
              12,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="salad">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="saladadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="salad">
              <input type="hidden" name="mode" value="del">
              <input type="number" name="saladdel" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "삭제">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/eggscramble.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              에그스크램블
            </h5>
            <p>
              8,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="egg">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="eggadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="egg">
              <input type="hidden" name="mode" value="del">
              <input type="number" name="eggdel" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "삭제">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/bacon.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              베이컨
            </h5>
            <p>
              8,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="bacon">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="baconadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="bacon">
              <input type="hidden" name="mode" value="del">
              <input type="number" name="bacondel" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "삭제">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/bread.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              빵
            </h5>
            <p>
              4,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="bread">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="breadadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="bread">
              <input type="hidden" name="mode" value="del">
              <input type="number" name="breaddel" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "삭제">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/baguette.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              바게트빵(4조각)
            </h5>
            <p>
              4,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="bag">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="bagadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="bag">
              <input type="hidden" name="mode" value="del">
              <input type="number" name="bagdel" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "삭제">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/coffeecup.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              커피 1잔
            </h5>
            <p>
              5,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="cof">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="cofadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="cof">
              <input type="hidden" name="mode" value="del">
              <input type="number" name="cofdel" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "삭제">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/coffeeport.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              커피 1포트
            </h5>
            <p>
              18,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="cofp">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="cofpadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="cofp">
              <input type="hidden" name="mode" value="del">
              <input type="number" name="cofpdel" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "삭제">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/winecup.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              와인 1잔
            </h5>
            <p>
              7,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="wine">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="wineadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="wine">
              <input type="hidden" name="mode" value="del">
              <input type="number" name="winedel" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "삭제">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/wine.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              와인 1병
            </h5>
            <p>
              40,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="wineb">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="winebadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="wineb">
              <input type="hidden" name="mode" value="del">
              <input type="number" name="winebdel" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "삭제">
            </form>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'images/champ.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              샴페인 1병
            </h5>
            <p>
              70,000 won
            </p>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="champ">
              <input type="hidden" name="mode" value="add">
              <input type="number" name="champadd" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "추가">
            </form>
            <form action="{% url 'add' %}" method="POST" id="addform">
              {% csrf_token %}
              <input type="hidden" name="name" value="champ">
              <input type="hidden" name="mode" value="del">
              <input type="number" name="champdel" min="1" max="9" value="1">
              <input type="submit" id="sub" value = "삭제">
            </form>
          </div>
        </div>        
      </div>
      <br><br>
      <div class="formcontainer">
        <form action="{% url 'addorder' %}" onclick="choose();" method="POST" id="orderform">
          {% csrf_token %}
          <input type="hidden" name="go" id="go">
          <input type="submit" id="sub" value = "주문하기">
        </form>
      </div>
      <!--
      <div class="voiceai_box">
        * '음성인식으로 주문하기' 버튼을 누르고 원하는 추가 사항 말하세요.<br>
        * 인식이 잘 되었다면 '음성인식 멈추기'를 누른 후 '다음으로 →'를 누르세요.<br>
        * 인식이 잘 안 되었다면 '새로고침'을 누른 후 다시 시도하세요.<br>
        <a href="{% url 'ap' %} ">
          새로고침
        </a>
        <button class="voice" name="voice" type="button" onclick="voiceinput();">
          음성인식으로 주문하기
        </button>
        <button class="voice" name="voice" type="button" onclick="voicestop();">
          음성인식 멈추기
        </button>
      </div>
      <br><br>
      <form action="{% url 'op' %}" method="POST" id="voiceform" onclick="submitvoice();">
        {% csrf_token %} 
        <input type="hidden" id="voicesubmit" value ="">
        <input type="submit" id="sub" value = "다음으로 →">
      </form>
      <div class="words">
      </div>
      <script type="text/javascript" src="{% static 'js/voiceinput.js' %}"></script>
      -->
    </div>
    <br>
    <script type="text/javascript">            
      function choose() {
        var go = 0;
        if (confirm("추가 주문 하시겠습니까?") == true){    //확인
          go = 1;
        } else{   //취소
          go = 2;
        }
        $('input[name=go]').attr('value',go);
      }            
    </script>
  </section>

  <!-- end add section -->


  <!-- start info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_brand">
        <h2>
          Mr.Daebak DINNER
        </h2>
      </div>
      <div class="info_box">
        <div class="row">
          <div class="col-md-4">
            <a href="">
              <span>
                이용약관
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <span>
                개인정보취급방침
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <span>
                공지사항
              </span>
            </a>
          </div>
          <p><br><br><br></p>
          <p>
            위치 | 서울특별시 강남구 강남대로102길 31<br>
            대표번호 | 010-2747-1579<br>
            영업시간 | 15:30 ~ 22:00
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end info section -->

  <!-- start footer section -->
  <section class="container-fluid footer_section ">
    <p>
      COPYRIGHT © Mr.Daebak DINNER. ALL RIGHTS RESERVED.
    </p>
  </section>
  <!-- end footer section -->


  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>