<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Mr.Daebak Dinner</title>
  <!--<link rel="icon" href="{% static 'images/restaurant.png' %}">-->

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- style -->
  <link href="{% static 'css/style.css' %}?after" rel="stylesheet" />
</head>

<body class="sub_page">
  <!-- start header section  -->
  <div class="main_area">
    <div class="brand_box">
      <a class="brand" href="{% url 'cm' %}">
        <span>
          Mr.Daebak DINNER
        </span>
      </a>
    </div>
  </div>
  <!-- end header section -->

  <!-- start choose section -->
  <section class="choose_section layout_padding">
    <div class="container">
      <div class="box">      
        <div class="btn_box">
          <a href="{% url 'dfp' %} ">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;추가 주문하기&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          <a href="{% url 'ap' %} ">
            옵션 창으로 가기
          </a> 
        </div>
        <br><br><br>     
      </div>
    </div>
  </section>

  <!-- end choose section -->

  <!-- start info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_brand">
        <h2>
          Mr.Daebak DINNER
        </h2>
      </div>
      <div class="info_box">
        <div class="row">
          <div class="col-md-4">
            <a href="">
              <span>
                이용약관
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <span>
                개인정보취급방침
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <span>
                공지사항
              </span>
            </a>
          </div>
          <p><br><br><br></p>
          <p>
            위치 | 서울특별시 강남구 강남대로102길 31<br>
            대표번호 | 010-2747-1579
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end info section -->

  <!-- start footer section -->
  <section class="container-fluid footer_section ">
    <p>
      COPYRIGHT © Mr.Daebak DINNER. ALL RIGHTS RESERVED.
    </p>
  </section>
  <!-- end footer section -->


  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>