<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Mr.Daebak Dinner Employee</title>
  <!--<link rel="icon" href="{% static 'images/restaurant.png' %}">-->

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- style -->
  <link href="{% static 'css/style.css' %}?after" rel="stylesheet" />
</head>

<body>
  <!-- start header section  -->
  <div class="main_area">  
    <div class="brand_box">
      <a class="brand" href="{% url 'em' %} ">
        <span>
          Mr.Daebak DINNER
        </span>
        <p>&nbsp;Employee System</p>
      </a>
    </div>
    <div class="brand_img">
      <img src="{% static 'images/fine-dining-gf22fda13e_1920.jpg' %}" alt="">
    </div>   
  </div>
  <!-- end header section -->

  <!-- start signup section -->
  <section class="signup_section layout_padding">    
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          직원 회원가입
        </h2>
      </div>
    </div>
    <div class="container-fluid">
    <br><br>
    <div class="container">
      <div class="box">
        <div class="signup_box">
          <br>
          <div class="errormsg">
            {% for message in messages %}
              {{ message.tag }}
              {{ message }}
            {% endfor %}
          </div>
          <br><br>
          <form action="{% url 'emsignup' %}" method="POST" id="signupform">
            {% csrf_token %}
            &nbsp;&nbsp;&nbsp;<b>* 이름</b>&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" id="name" name="name"><br>
            <b>* 전화번호</b> <input type="text" id="phonenumber" name="phonenumber" placeholder="00000000000"><br>
            <b>* 비밀번호</b> <input type="password" id="password" name="password"><br>
            <b>* 직무</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" id="job" name="job" value="cook">조리
            <input type="radio" id="job" name="job" value="delivery">배달
            <input type="radio" id="job" name="job" value="manage">관리
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br><br>
            <input type="submit" id="sub" value="등록하기">
          </form> 
        </div>
        <br>
      </div>
    </div>
    <!--
    <script>
      function noinput(){
        if(document.getElementById('name').value.length==0){alert("이름을 입력하세요.");}
        if(document.getElementById('phonenumber').value.length==0){alert("전화번호를 입력하세요.");}
        if(document.getElementById('password').value.length==0){alert("비밀번호를 입력하세요.");}
      }
    </script>
    -->
  </section>

  <!-- end signup section -->

  <!-- start info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_brand">
        <h2>
          Mr.Daebak DINNER
        </h2>
      </div>
      <div class="info_box">
        <div class="row">
          <div class="col-md-4">
            <a href="">
              <span>
                이용약관
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <span>
                개인정보취급방침
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <span>
                공지사항
              </span>
            </a>
          </div>
          <p><br><br><br></p>
          <p>
            위치 | 서울특별시 강남구 강남대로102길 31<br>
            대표번호 | 010-2747-1579<br>
            영업시간 | 15:30 ~ 22:00
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end info section -->

  <!-- start footer section -->
  <section class="container-fluid footer_section ">
    <p>
      COPYRIGHT © Mr.Daebak DINNER. ALL RIGHTS RESERVED.
    </p>
  </section>
  <!-- end footer section -->

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>