<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Mr.Daebak Dinner Employee</title>
  <!--<link rel="icon" href="{% static 'images/restaurant.png' %}">-->

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- style -->
  <link href="{% static 'css/style.css' %}?after" rel="stylesheet" />
</head>

<body class="sub_page">
  <!-- start header section  -->
  <div class="main_area">
    <div class="brand_box">
      <a class="brand" href="{% url 'em' %} ">
        <span>
          Mr.Daebak DINNER
        </span>
        <p>&nbsp;Employee System</p>
      </a>
    </div>
  </div>
  <!-- end header section -->

  <!-- start bar section -->

  <section class="bar_section">
    <div class="container">
      <div class="bar">
        <nav class="navbar navbar-expand bar_box">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex  flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="item">
                  <a class="nav-link" href="{% url 'estp' %} ">재고 조회 </a>
                </li>
                <li class="item">
                  <a class="nav-link" href="{% url 'ecop' %} ">주문 조회 </a>
                </li>
                <li class="item">
                  <a class="nav-link" href="{% url 'eep' %} ">직원 관리 </a>
                </li>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>

  <!-- end bar section -->

  <!-- start inquire section -->

  <section class="inquire_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          재고 조회
        </h2>
      </div>
    </div>
    <div class="btn_box">
      <a href="{% url 'estcp' %} ">
        수정하기
      </a>
    </div>
    <div class="container-fluid">
      <table class="stable">
        <thead>
        <tr>
            <td><B>이름</B></td>
            <td><B>양</B></td>
        </tr>
        </thead>
        <tbody>
        {% for u in users %}
        <tr>
            <td>{{u.name}}</td>
            <td>{{u.quantity}}</td>
        </tr>
        {% endfor %}
        <tbody>
      </table>
    
    </div>
  </section>

  <!-- end inquire section -->


  <!-- start info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_brand">
        <h2>
          Mr.Daebak DINNER
        </h2>
      </div>
      <div class="info_box">
        <div class="row">
          <div class="col-md-4">
            <a href="">
              <span>
                이용약관
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <span>
                개인정보취급방침
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <span>
                공지사항
              </span>
            </a>
          </div>
          <p><br><br><br></p>
          <p>
            위치 | 서울특별시 강남구 강남대로102길 31<br>
            대표번호 | 010-2747-1579<br>
            영업시간 | 15:30 ~ 22:00
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end info section -->

  <!-- start footer section -->
  <section class="container-fluid footer_section ">
    <p>
      COPYRIGHT © Mr.Daebak DINNER. ALL RIGHTS RESERVED.
    </p>
  </section>
  <!-- end footer section -->


  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>